@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-from-left {
  animation: slide-in-from-left 2s ease-out;
  display: inline-block;
}

